body {
    margin: 0;
    padding: 0;
    background: #f8f9fa;
    font-family: 'Roboto', sans-serif;
}

.shadow-blue {
    -webkit-box-shadow: 0px 5px 10px 2px rgba(90, 197, 255, 0.3);
    -moz-box-shadow: 0px 5px 10px 2px rgba(90, 197, 255, 0.3);
    box-shadow: 0px 5px 10px 2px rgba(90, 197, 255, 0.3);
}

/* Навбар */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0B61A4;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    font-size: 24pt;
    padding: 10px 16px;
    text-decoration: none;
}


/* Блок с формой */
.container-for-form {
    height: auto;
    width: 1300px;
    margin: 30px auto;
    overflow: auto;
    position: relative;
    border-radius: 15px;
    background: #66A3D2;
    text-align: center;
}

.button-submit {
    background-color: #0B61A4;
    border: none;
    color: white;
    width: 95%;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.button-submit:hover {
    background-color: #3F92D2;
}

.button-export {
    background-color: #0B61A4;
    border: none;
    color: white;
    width: 150px;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.button-export:hover {
    background-color: #3F92D2;
}

.container-inputs {
    width: 80%;
    height: auto;
    margin: 0 auto;
    overflow: auto;
    top: 0; left: 15px; bottom: 0; right: 0;
    text-align: center;
}

.input-custom {
    width: 150px;
    font-size: 14px;
	padding: 8px 0 4px 10px;
    border: 1px solid #cecece;
}

.mright {
    margin-right: 15px;
}

.mbottom {
    margin-bottom: 15px;
}

label {
    color: white;
}

hr {
    border: none;
    color: #0B61A4;
    background-color: #0B61A4;
    height: 2px;
}

#message-box {
    width: 95%;
    padding: 15px;
    margin-top: 10px;
    display: none;
    border-radius: 5px;
    color: white;
    background-color: #0B61A4;
}

#message-close {
    cursor: pointer;
}

/* Блок с таблицей */
.container {
    height: auto;
    width: 1300px;
    margin: 30px auto;
    overflow: auto;
    position: relative;
    border-radius: 15px;
    text-align: center;
    background: #FBFBFB;
}

table {
    width: 100%;
    font-size: 16px;
    border-collapse: collapse;
    text-align: center;
}

th, td:first-child {
    background: #0B61A4;
    color: white;
    padding: 10px 20px;
}

th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}

td {
    background: #D8E6F3;
}

.red-icon {
    color: red;
    cursor: pointer;
}

.cursor {
    cursor: pointer;
}

/* Графики */

#g-wind {
    display: block;
}

#g-temp {
    display: none;
}

#g-wet {
    display: none;
}